*{
    margin-top: 0px;
    margin-left: 0px;
    font-family: 'Roboto', sans-serif;
}

/* navbar start */
.contener{
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2%;
    margin: auto;
    border-top: 4px solid #FF7500;
}
.nav-contener{
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.nav-contener div{
  display: flex;
}


nav h1{
    margin-bottom: 1%;
}
nav h1:hover{
  opacity: 0.8;
}
nav h1:active{
  opacity: 0.6;
}
ul{
  width: 50%;
  display: flex;
  margin-top: 1%;
  gap: 2%;
  flex-wrap: wrap;
}
.btn-one{
    /* height: 10%; */
    text-align: center;
    border: 1px solid #FF7500; 
    background-color: #FF7500;
    border-radius: 3px;  
    color: white;
    margin-left: 1%;
    padding: 2%;
    
}

li{
  /* height: 5%; */
  text-align: center;
  /* padding-left: 1%; */
  list-style: none;
  margin-top: 2.3%;

}

nav li:hover{
    color: #FF7500;
}
nav li:active{
  opacity: 0.6;
}
.btn-one:hover{
  opacity: 0.8;
}
.btn-one:active{
  opacity: 0.6;
}
/* navbar end */
/* middil start */
.level-one{
    width: 100%;
    display: flex;
    background-color: #252420;   
}
.level-one-contener{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.level-one-one{
    width: 50%;
    padding: 8% 0% 8% 8%;
}
.level-one-one h1{
    color: white;
}
.level-one-one p{
    width: 62%;
    color: rgb(232, 231, 231);
}
hr{
    width: 12%;
    border: 1.5px solid #FF7500;
    margin-bottom: 5%;
}
.btn-two{
    width: 25%;
    padding: 10px;
    margin-top: 2%;
    display: inline-block;
    border: 1px solid #FF7500; 
    background-color: #FF7500;
    border-radius: 3px;  
    color: white;
    margin-bottom: 5%;
}
.btn-two:hover{
  opacity: 0.8;
}
.btn-two:active{
   opacity: 0.6;
}
.level-one-two{
    width: 50%;
    
}
.level-one-two img{
    width: 100%;
    margin-top: 5%;
    margin-bottom: -15%;
}
.level-two{
    width: 100%;
    margin-top: 5%;
}
.level-two-contener{
  justify-content:space-between;
  align-items: center;
}
.hr-2{
    width: 10%;
    border-bottom: 4px solid #FF7500;
    margin-left: 9%;
    margin-top: 13%;
}
.level-two h1{
    margin-left: 9%;
    margin-top: 2%;
    font-size: 50px;
}
.level-two-one{
    width: 100%;
    display: flex;
    margin-top: 6%;
}
.level-two-smoll{
    width: 20%;
    margin: auto;
    margin-left: 9%;
    text-align: start;
}
.level-two-smoll img{
    margin-left: 15%;
    margin-top: 25%;
    text-align: center;
}
.level-two-smoll div{
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: rgba(255, 117, 0, 0.20);
  margin-bottom: 15%;
}
.level-three{
    width: 100%;
}
.level-three-contener{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.black-div{
    width: 85%;
    background-color: #252420;
    border-radius: 15px;
    margin: 10% auto;
    display: flex;
}
.level-three-one{
    width: 50%;
    color: white;
    margin-left: 6%;
    margin-top: 7%;

}
.level-three-one p{
    color: rgb(224, 223, 223);
}
.level-three-two{
    width: 50%;
}
.level-three-two img{
    width: 90%;
    margin-top:-14%;
}
.footer-div{
    width: 86%;
    margin: auto;
    gap: 0.9%;
    padding-bottom: 3%;
    border-bottom: 2px solid #252420;
}
.level-footer-contener{
  display: flex;
  justify-content:space-between; 
  align-items: center;
}
.footer-div h1:hover{
  opacity: 0.8;
}
.footer-div h1:active{
  opacity: 0.6;
}

.level-footer-contener div{
  margin-left: 63%;
  text-align: center;
}


/* middil end */

/* footer start */
footer{
    width: 86%;
    display: flex;
    margin: auto;
    margin-top: 6%;
}
.footer-contener{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.footer-big-one{
    width: 50%;
    display: flex;
    gap: 30%;
}
.footer-big-two{
    width: 50%;
    display: flex;
    gap: 30%;
}
.footer-big-one h4:hover{
   color: #FF7500;
}
.footer-big-two h4:hover{
  color: #FF7500;
}
/* footer end */
/* media start */
@media screen and (max-width: 900px) {
  .level-one-one p{
    width: 90%;
  }
  .level-three-two img{
    width: 100%;
    margin-top: 5%;
  }
  .level-footer-contener div{
    margin-left: 54%;
  }
}
@media screen and (max-width: 750px) {
    .level-one{
      display: flex;
      flex-direction: column-reverse;
    }
    .level-one-one{
      width:90%;
      margin: 10% auto;
      text-align: center;
      padding: 0%;
    }
    hr{
      margin: 0px;
      width: 100%;
    }
    .hr-2{
      margin-left: 5%;
      width: 90%;
    }
    .level-one-one div{
      width: 100%;
      border-bottom: 4px solid #FF7500 ;
    }
    .level-one-one h1{
        width: 90%;
        font-size: 60px;
    }
    .level-one-one p{
      width: 90%;
      margin: auto;
      margin-bottom:4% ;
      font-size: 20px;
     }
     .level-one-two{
        text-align: center;
        margin: auto;
        margin-bottom: 5%;
    } 
    .level-one-two{
      width: 80%;
    }
  
  
    .black-div{
      flex-direction: column-reverse;
      margin: 10% auto;
      text-align: center;
    }
    .level-three-one{
      width: 90%;
      margin: auto;
      margin-bottom: 5%;
    }
    .level-three-one h1{
        font-size: 50px;
    }
    .level-three-one p{
        font-size: 30px;
    }
    .btn-two{
        width: 50%;
        font-size: 30px;
    }
    .level-three-two{
      width: 90%;
      margin: auto;
    }

    .level-one-contener{
      display: flex;
      flex-direction: column-reverse;
    }
    .level-two-contener{
      display: block;
    }
    .level-three-contener{
      display: block;
    }

    .footer-contener{
      display: block;
    }
  }
@media screen and (max-width: 500px) {

    .level-two{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .level-two h1{
        margin-left: 0%;
        font-size: 50px;
    }
    .level-two-pen{
        width: 80%;
        margin-left: 0%;
        margin: 7% auto;
    }
    .level-two-one{
      width: 100%;
      margin: auto;
      text-align: center;
      display: block;
    }
    .level-two-smoll{
        width: 100%;
        margin-left: 0%;
        text-align: center;
    }
    .level-two-smoll h2{
        font-size: 45px;
    }
    .level-two-smoll p{
        width: 90%;
        text-align: center;
        margin: auto;
        font-size: 30px;
    }
    .level-two-smoll div{
       margin: 10% auto;
       padding: 0px;
       margin-bottom: 0%;
    }
  .level-two-one{
    display: block;
  }
    .black-div{
      flex-direction: column-reverse;
      margin: 10% auto;
      text-align: center;
    }
    .level-footer-contener div{
      margin-left: 10%;
    }
  .footer-contener{
    width: 90%;
    display: block;
    gap: 0%;
    margin: auto;
    text-align: center;
  }
  .footer-big-one{
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 30px;
    gap: 0px;

  }
  .footer-big-two{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: auto;
    gap: 0px;
  }
  .footer-one{
    width: 50%;
  }
  .footer-two{
    width: 50%;
  }
  .footer-three{
    width: 50%;
  }
  .footer-four{
    width: 50%;
  }
  
  .nav-contener{
    display: block;
  }
  .nav-contener div h1{
    margin-left: 7%;
  }
  .nav-contener ul{
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .nav-contener ul li{
    margin: auto;
  }


  }
@media screen and (max-width: 350px) {
  .level-one h1{
    font-size: 40px;
  }
  .level-two h1{
    font-size: 40px;
  }
  .btn-two{
    width: 60%;
  }
  .icons-footer-div{
    margin-left: 50px !important;
  }
  .footer-div{
    padding: 0px;
  }
  .level-footer-contener{
    width: 10%;
    margin-left: 0px;
    margin-right: 0px;
    justify-content: flex-start;
  }

  .contener{
    padding: 0px;
  }
  .footer-big-one{
    width: 100%;
    display: block;
  }
  .footer-big-two{
    width: 100%;
    display: block;
    text-align: center;
  }
  .footer-one{
    width: 90%;
  }
  .footer-two{
    width: 90%;
  }
  .footer-three{
    width: 90%;
  }
  .footer-four{
    width: 90%;
  }
  .nav-contener div h1{
    margin-left: 4%;
  }
  
}

/* media end */